<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="data ion-padding">
    <ion-card mode="ios" class="ion-no-margin ion-padding">
      <h3>Apple Inc.</h3>
      <div class="d-flex justify-content-between details">
        <div>
          <h5>Project</h5>
          <p>Alpha Project</p>
        </div>
        <div>
          <h5>Section</h5>
          <p>Beta Section</p>
        </div>
        <div>
          <h5>Videos</h5>
          <p>50</p>
        </div>
      </div>
    </ion-card>

    <!-- <div class="ion-padding">
      <ion-button expand="block" [routerLink]="['/tabs/patientdetail']">Start New Session</ion-button>
    </div> -->
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="!recording">
    <ion-fab-button (click)="recordCam()">
      <ion-icon name="videocam-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="recording">
    <ion-fab-button (click)="stopCam()">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>