ion-content {
  --background: transparent;
  .data{
      margin-top: 300px;
      height: calc(100% - 300px);
      background-color: var(--ion-color-light);
      ion-card{
          h3{
              margin: 0 0 20px 0;
          }
          box-shadow: 0 0 6px -3px var(--ion-color-dark);
          .details{
              div{
                  width: 32%;
                  text-align: center;
                  border-radius: 10px;
                  box-shadow: 0 0 8px -3px var(--ion-color-dark);
              }
          }
      }
  }
}